* {
    margin: 0;
    padding: 0;
  }
html{
    scroll-behavior: smooth;
  }

.navigation-menu{
background-color: rgb(255, 255, 255);
padding: 20px;
display: flex;
justify-content:flex-end;
height: 20px;
}

.navigation-menu a{
  display: block;
  line-height: 24px;
  margin: 10px;
  padding: 5px;
  text-decoration:none;
  transition: transform 0.3s;
  color: black;
}

.navigation-menu a:hover{
  transform: scale(1.2); 
  text-decoration: underline;
  
  
}
.portfolio{
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 20px;
  height: 300px;
  background-color: rgb(241, 241, 241);
}

.portfolio img{
  border-radius: 50%;
  width: 300px;
}
.portfolio h3{
  padding: 20px;
  font-family: 'Montserrat', sans-serif
}

.portfolio p{
  display: block;
  flex-direction: column;
  margin: 0px;
  padding: 10px;
  width: 500px;
  
}


 

h1{font-size: 35px;
    font-family: 'Montserrat', sans-serif;
  }

 p{font-family: 'Dosis', sans-serif;}

 header{
  background-color: rgb(255, 255, 255);
 }
 section{
  background-color: rgb(255, 255, 255);

 }
 .main{
  background-color: rgb(250, 11, 238);

 }
 .main-2{
  background-color: rgb(251, 255, 0);

 }