* {
    margin: 0;
    padding: 0;
  }
html{
    scroll-behavior: smooth;
    min-width: 520px;
    max-width: 2080px;
  }

.navigation-menu{
background-color: rgb(255, 255, 255);
padding: 20px;
display: flex;
justify-content:space-between;
height: 20px;
}

.navigation-menu a{
  transition: transform 0.4s; 
  font-family: 'Courier New', Courier, monospace;
  display: block;
  line-height: 1px;
  padding: 10px;
  text-decoration:none;
  transition: transform 0.4s;
  color: black;
}

.navigation-menu a:hover{
  transform: scale(1.5);
  background-color: rgb(230, 230, 230);
  color: rgb(255, 145, 0);
  border-radius: 10%;
  
  
}

.portfolio{
  display: flex;
  margin: 0px;
  padding: 10px;
  height: 270px;
  background-image:url(/img/backgraund-image.jpg);
  background-position: center;
  background-size: cover;
  justify-content:end;
}

.portfolio-1 h1{
  flex-direction: column;
  justify-content: flex-start;
  font-size: 60px;
  flex-wrap: wrap;
  padding: 5px;
  background-color: rgb(230, 230, 230);
  font-family: 'Agbalumo',sans-serif;
  
}
.portfolio-2 h3{
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(230, 230, 230);
  flex-wrap: nowrap;
  font-size: 40px;
}

.portfolio-3 p{
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  flex-wrap: wrap;
  background-color: rgb(230, 230, 230);

  
}
.portfolio img {

  width: 280px;
  height: 320px;
  flex-direction: row;
  justify-content: end;
  flex-wrap: nowrap
  
}

.icons{
  background-color: rgb(230, 230, 230);
  transition: 200ms;
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding: 5px;
}

.icons-skin { 
  display: flex;
  width: 50px;
  height: 50px;
 
}

.icons :hover{
  transform: scale(1.1);
}
.footer {
  background-color: #333; /* Cor de fundo */
  color: white; /* Cor do texto */
  text-align: center; /* Alinhamento do texto */
  padding: 20px 0; /* Espaçamento interno */
}
.footer img {
  width: 20px;
  height: 20px;
  
}
.footer img:hover {
  width: 30px;
  height: 30px;
  
}
/* Estilização sobre mim começa aqui*/
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     background-color: rgb(230, 230, 230);
    padding: 20px;
    margin: 20px;
    height: 800px;
  }
  
  .main h2, .main h3, .main p {
     background-color: rgb(230, 230, 230);
    padding: 10px;
    margin: 10px;
    text-align: center;
  }
  .main img{
    width: 400px;
    height: 300px;
    border-radius: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    ;
  }
  .main p{
    font-size: 25px;
  }

/* Estilização sobre mim termina aqui*/

/* Estilização contact  começa aqui*/
.container {
  background-color: red;
  padding: 10px;
  display: flex;

  
}