* {
    margin: 0;
    padding: 0;
  }
 

h1{font-size: 35px;
    font-family: 'Montserrat', sans-serif;
  }

 p{font-family: 'Dosis', sans-serif;}

 header{
  background-color: red;
 }
 section{
  background-color: aqua;

 }
 .main{
  background-color: rgb(250, 11, 238);

 }
 .main-2{
  background-color: rgb(251, 255, 0);

 }